@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
@media print {
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
  .font-12 {
    font-size: 12px;
  }
  .margin-top {
    margin-top: 6rem;
  }
  .no-link {
    text-decoration: none;
    color: inherit;
    cursor: text;
  }
}
