@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
@media print {
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
  .font-12 {
    font-size: 12px;
  }
  .margin-top {
    margin-top: 6rem;
  }
  .no-link {
    text-decoration: none;
    color: inherit;
    cursor: text;
  }
}

/* Untuk layar kecil (<= 767px) */
@media (max-width: 767px) {
  .custom-container {
    padding-bottom: 5rem;
  }

  .custom-col {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Untuk layar medium (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .custom-col {
    width: 33.33%;
  }
}

/* Untuk layar besar (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .custom-col {
    width: 85%;
  }
}

/* Untuk layar sangat besar (>= 1200px) */
@media (min-width: 1200px) {
  .custom-col {
    width: 20%;
  }
}
