@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-block: 6rem;
}
.flex-gap-1 {
  gap: 1rem;
}
.custom-width-card {
  min-width: 1200px;
}
.custom-border-box {
  box-sizing: border-box;
  min-width: 800px;
  min-height: 650px;
}
@media print {
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
  .font-12 {
    font-size: 12px;
  }
  .margin-top {
    margin-top: 6rem;
  }
  .no-link {
    text-decoration: none;
    color: inherit;
    cursor: text;
  }
}

/* Untuk layar sangat besar (>= 1200px) */
@media (min-width: 1200px) {
  .custom-border-box {
    box-sizing: border-box;
    min-width: 800px;
    min-height: 650px;
    max-width: 1200px;
  }
}
