@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-block: 6rem;
  min-height: 100vh;
}
.flex-gap-1 {
  gap: 1rem;
}
.custom-card {
  width: 400px;
  height: 200px;
}
.custom-width-card {
  min-width: 1200px;
}
.custom-border-box {
  min-width: 800px;
  max-width: 1200px;
}
.floating-icon {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  opacity: 0.3; /* Opacity bisa disesuaikan */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.custom-navbar-color {
  background-color: #a11010;
}
.custom-icon-pointer {
  cursor: pointer;
}
/* Efek hover untuk perbesaran ikon */
.position-relative:hover .floating-icon {
  transform: translate(-50%, -50%) scale(1.2); /* Perubahan skala saat hover */
  opacity: 1; /* Ubah opacity saat hover */
}
.no-display {
  display: none;
}
.font-size-small {
  font-size: 12px;
}
@media print {
  .judul-cetak {
    position: static;
    flex: none;
    padding-block: 1rem;
  }
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
  .print-this {
    display: table-cell;
  }
  body {
    padding-block: 0;
    padding-inline: 1rem;
  }
}

/* Untuk layar sangat besar (>= 1200px) */
@media (min-width: 1200px) {
  .custom-border-box {
    min-width: 800px;
    max-width: 1200px;
  }
}
